<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="home-pg-header">Calendars</h1>
  </div>
</div>

<div class="button-container">
    <%= link_to "Login", new_session_path, class:"user-button gray-button" %>
    <%= link_to "Sign up", new_user_path, class:"user-button" %>
</div>
