<div class="row">
  <div class="col-md-12 text-center month-header">
    <h1>Welcome to Calendars!</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <h2>Choose a user</h2>
  </div>
</div>


<% @users.each do |user| %>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2 text-center">
      <%= link_to "#{user.name}", user_path(id: user.id) %>
    </div>
    <div class="col-md-1 text-center">
        <%= link_to "edit", edit_user_path(id: user.id) %>
    </div>
    <div class="col-md-1 text-center">
        <%= link_to "delete", user_path(id: user.id), method: :delete %>
    </div>
    <div class="col-md-4"></div>
</div>
<% end %>

<div class="row">
  <div class="col-md-12 text-center">
    <%= link_to "+ user", new_user_path %>
  </div>
</div>
