<h1>Welcome to calendars!</h1>

<h2>Choose a user</h2>
<% @users.each do |user| %>
  <div>
      <%= link_to "#{user.name}", user_path(id: user.id) %>
      <%= link_to "edit", edit_user_path(id: user.id) %>
      <%= link_to "delete", user_path(id: user.id), method: :delete %>
  </div>
<% end %>

<%= link_to "+ user", new_user_path %>
