<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="home-pg-header">This is a Calendar</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <img class="home-pg-img" src="/assets/calendar.png">
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <%= link_to "Login", new_session_path, class:"user-button" %>
  </div>
</div>

<div class="col-md-12 text-center">
  <%= link_to "Sign up", new_user_path, class:"submit-button" %>
</div>
