<div class="row">
  <div class="col-md-12 text-center">
    <%= link_to "home", "/", class: "nav-link" %>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <hr>
  </div>
  <div class="col-md-1"></div>
</div>


<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="cursive-header">Create Account</h1>
  </div>
</div>

<%= render partial:"user_form" %>
