<%= render partial:"nav" %>

<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="cursive-header">Account Details</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
      Username: <%= @current_user.name %>
  </div>
</div>

<div class="button-container">
    <%= link_to "Edit", edit_user_path(:user_id => params[:id]), class:"user-button gray-button" %>
    <%= link_to "Calendar", user_events_path(:user_id => params[:id]), class:"user-button" %>
</div>
