<%= render partial:"nav" %>

<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="cursive-header">Edit event</h1>
  </div>
</div>

<%= render partial:"event_form", locals:{url: user_event_path, method: :patch} %>
