<h1><%= @user.name %>'s calendar</h1>

<% @events.each do |event| %>
  <div>
    <%= link_to event.name, user_event_path(:user_id => @user.id, :id => event.id) %>
  </div>
<% end %>
<%= link_to "+ event", new_user_event_path(:user_id => @user.id) %>
